<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ExtentReportManager"/>
        <listener class-name="utils.ExtentSuiteListener"/>

    </listeners>

    <test verbose="2" preserve-order="true" name="Setting Suite">
        <parameter name="browser" value="chrome"/>
        <parameter name="mode" value="headless"/>
        <classes>
<!--        <class name="testCases.demo.GlobalAutomation"/>-->
<!--            <class name="testCases.demo.OtherTabAutomation"/>-->
<!--            <class name="testCases.Settings.TC001"/>-->
<!--            <class name="testCases.Settings.TC002"/>-->
            <class name="testCases.Settings.TC009"/>
        </classes>
<!--        <packages>-->
<!--            <package name="testCases.Settings"/>-->
<!--        </packages>-->
    </test>

</suite>